<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>myweb</display-name>
  <welcome-file-list>
    <welcome-file>index5_22.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>PagingServlet</servlet-name>
    <servlet-class>com.hsxy.myweb.test.PagingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PagingServlet</servlet-name>
    <url-pattern>/pagingServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>fenyejQuery</display-name>
    <servlet-name>fenyejQuery</servlet-name>
    <servlet-class>com.hsxy.myweb.test.fenyejQuery</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>fenyejQuery</servlet-name>
    <url-pattern>/fenyejQuery</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PagJson</display-name>
    <servlet-name>PagJson</servlet-name>
    <servlet-class>pagjsons.PagJson</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PagJson</servlet-name>
    <url-pattern>/pagJson.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ValidateCodeServle</display-name>
    <servlet-name>ValidateCodeServle</servlet-name>
    <servlet-class>com.hsxy.myweb.test_login.ValidateCodeServle</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ValidateCodeServle</servlet-name>
    <url-pattern>/validateCodeServle</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmailCodeServlet</display-name>
    <servlet-name>EmailCodeServlet</servlet-name>
    <servlet-class>com.hsxy.myweb.test_login.EmailCodeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmailCodeServlet</servlet-name>
    <url-pattern>/login/emailCodeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Emaillogin</display-name>
    <servlet-name>Emaillogin</servlet-name>
    <servlet-class>com.hsxy.myweb.test_login.Emaillogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Emaillogin</servlet-name>
    <url-pattern>/login/emaillogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginRegister</display-name>
    <servlet-name>LoginRegister</servlet-name>
    <servlet-class>com.hsxy.myweb.test_login.LoginRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginRegister</servlet-name>
    <url-pattern>/login/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DetailPaging</display-name>
    <servlet-name>DetailPaging</servlet-name>
    <servlet-class>com.hsxy.myweb.detailPaging.DetailPaging</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DetailPaging</servlet-name>
    <url-pattern>/detailPaging</url-pattern>
  </servlet-mapping>
</web-app>